.nav-header {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-header, .right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
} 

.google-apps {
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px;
    width: 22px;
    height: auto;
}

.logo {
    display: block;
    margin: 60px auto 15px auto;
    width: 325px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-search {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: 700px;
    height: 45px;

    border: solid 0.1px rgb(230, 230, 230);
    border-radius: 30px;
}

@media only screen and (min-width: 700px) {
    .div-search {
        width: 630px;
    }
}

.input-search {
    padding-right: 20px;
    width: 100%;
    font-size: 15px;
    border: none;
    outline: none;
    appearance: none;
}

.search-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #f2f2f2;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 750px) {
    .nav-footer {
        flex-direction: row;
        justify-content: space-between;
    }
}



body {
    font-size: 13px;
    font-family: Arial;
    margin: 0;
}

a {
    text-decoration: none;
    color: #242524;
    margin-left: 10px;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

.google-apps:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
}

.sign-in {
    background-color: #1a73e8;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    color: white;
    font-size: 13px;
}

.sign-in:hover {
    cursor: pointer;
    background-color: #2a7de8;
    box-shadow: 0px 0.5px 0.5px 0.5px#1a73e8;
}

.div-search:hover {
    box-shadow: 0px 0px 3px 2px rgb(230, 230, 230);
}

.google-search-icon {
    -webkit-user-drag: none;
    width: 27px;
    margin: 8px;
}

.mic-button {
    position: relative;
    right: 12px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.google-mic-icon {
    -webkit-user-drag: none;
    width: 14px;
}

.search-button {
    background-color: #f8f9fa;
    border-radius: 5px;
    border: none;
    margin: 25px 8px 0 8px;
    padding: 10px;
    width: 150px;
    height: 35px;
    font-size: 14px;
    color: rgb(80, 80, 80);
}

.search-button:hover {
    cursor: pointer;
    box-shadow: 0px 0.5px 1px 1px rgb(220, 220, 220);
}

.nav-footer {
    padding: 10px;
}

.left-footer, .right-footer {
    padding: 15px;
}

.footer-items {
    padding: 5px;
    color: #71757b;
}
