/* Header Navigation */
.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-header, .right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
} 

.google-apps {
    width: 28px;
    height: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Search */

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-search {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: 700px;
    height: 50px;
    margin: 10px;

    border: solid 0.1px lightgray;
    border-radius: 30px;
}

@media only screen and (min-width: 700px) {
    .div-search {
        width: 630px;
    }
    .input-search {
        width: 630px;
    }
}

.input-search {
    width: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    appearance: none;
}

/*TODO make mic into a button*/

.search-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Footer Nav */
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #f2f2f2;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 750px) {
    .nav-footer {
        flex-direction: row;
        justify-content: space-between;
    }
}



/* Aesthetics */

body {
    font-size: 17px;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: #242524;
    margin: 10px;
}

.sign-in {
    background-color: #1a73e8;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 45px;
    color: white;
    font-size: 18px;
}

.search-button {
    background-color: #f8f9fa;
    border-radius: 5px;
    border: none;
    margin-top: 25px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 10px;
    width: 200px;
    height: 45px;
    font-size: 18px;
    color: black;
}

.google-search-icon, .google-mic-icon {
    position: relative;
    top: 3px;
}
.google-search-icon {
    width: 25px;
    left: 5px;
}

.google-mic-icon {
    width: 15px;
    right: 5px;
}

.nav-footer {
    padding: 10px;
}

.left-footer, .right-footer {
    padding: 15px;
}

.footer-items {
    padding: 5px;
    color: #71757b;
}

